.App{
  text-align: center;
}
.form-container{
  margin-bottom: 20px;
  padding:10px;
  border:1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container table{
  width: 1200px;
}
.form-container textarea{
  width: 100%;
}

.form-container td{
  padding:10px;
}
button{
  background-color: #007bff;
  color:white;
  border:none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size:20px;
}
button:hover{
  background-color: aquamarine;
  color:#007bff;
}

input{
  width: 100%;
  padding:10px;
  border:1px solid #ddd;
  border-radius: 5px; 
  font-size: 20px;
}
label{
  font-size:20px;
}
.input-label{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color:white;
  border-radius: 5px;
  cursor: pointer;
}
.img-input{
  display: none;
}

.posts-contianer{
  margin-top:20px;
}
.post{
  border:1px solid #ddd;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius:5px;
  padding:10px;
  width: 1200px;
  margin: 0 auto;
}

.post .images{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.post .images img{
  max-width: 200px;
  margin-right:10px;
  border:1px solid #ddd;
  border-radius: 5px;
  padding :10px;
}

